<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nursery.Data.SQLServer.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=Nursery;Persist Security Info=True;User ID=sa;Password=IrUb0mN0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>