<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nursery.Data.MySQL.Properties.Settings.ConnectionString"
            connectionString="server=localhost;Persist Security Info=True;User Id=root;password=root;database=nursery"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>